/* css styles */
html, body {
  font-family: "Verdana", serif;
  font-size: 0.90em;
   
}
.title {
  font-family: "Comic Sans MS", sans-serif;
}
 h1, h2{
  font-family: "Comic Sans MS", sans-serif;
}
body {
  background-color: #faf7f0
}
.navbar {
  background-color: #dff7df;
}
input[type="search"] {
  background-color: #e0f7e9; 
  color: black;              
  border: 1px solid #94b392; 
}
.navbar a {
    font-family: "Verdana", serif;
    color: black; 
}
.navbas a {
  font-family: "Verdana", sans-serif;
}
h2 {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.toc, .toc a, nav, nav a {
  font-family: "Inter", sans-serif; /* or any font you want */
 
}
