/* css styles */
html, body {
  font-family: "Verdana", serif;
  font-size: 0.90em;
   
}
.title {
  font-family: "Comic Sans MS", sans-serif;
}
h2 {
  font-family: "Comic Sans MS", sans-serif;
}
body {
  background-color: #faf7f0;  /* light blue, change to any color you want */
}
.navbar {
  background-color: #dff7df;
}
input[type="search"] {
  background-color: #e0f7e9; /* light green background, change as you want */
  color: black;              /* text color */
  border: 1px solid #a3c1a1; /* optional: border color */
}
.navbar a {
    color: black; /* Replace #YOURCOLOR with your desired color code */
}
.navbas a {
  font-family: "Verdana", sans-serif;
}
h2 {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
